{% extends "base_home.html" %}
{% load tailwind_filters %}
{% block title %}{% endblock title %}
{% block style %}

{% endblock style %}

{% block content %}
<h1 class="text-4xl text-grey-800">Enter your new password</h1>
<div class="max-w-lg mx-auto">
  <form class="" action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="w-full text-white bg-vlue-500 hover:bg-blue-600 px-3 py-3 rounded-md" type="submit" name="login">Confirm new password</button>
  </form>
</div>
{% endblock content %}
