{% extends "base_home.html" %}
{% load tailwind_filters %}
{% block title %}{% endblock title %}
{% block style %}

{% endblock style %}

{% block content %}
<div class="max-w-lg mx-auto">
  <div class="py-5 border-b border-grey-200">
    <a class="hover:text-blue-500 mt-3" href="{% url 'Agents:AgentsList' %}">Go Back to Agents</a>
  </div>
  <form class="mt-5" action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="mt-5 w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-3 rounded-md" type="submit" name="login">Submit</button>
  </form>
</div>
{% endblock content %}
