<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meat name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'css/crm-css.css' %}" rel="stylesheet" type="text/css">
    <title>{% block title %}{% endblock title %}</title>
    <style media="screen">
      {% block style %}
      {% endblock style %}
    </style>
  </head>
  <body>
    <div class="max-w-7xl mx-auto">
      {% include 'navbar.html' %}
      {% block content %}
      {% endblock content %}
    </div>
    <script src="{% static 'js/crm-js.js' %}"></script>
    {% block Script %}
    {% endblock Script %}
  </body>
</html>
